.game {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  justify-content: center;
  gap: 1rem;
}

.game-board-info {
  display: grid;
}

.game-board-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

.score {
  min-width: fit-content;
}

.game-board-container {
  display: grid;
  place-content: center;
  align-items: center;
  position: relative;
}

@keyframes slide-down {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
