.game {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  justify-content: center;
  width: 100%;
}

.game-board-info {
  display: grid;
  position: relative;
}

.game-board-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.button {
  --button-height: 25px;
  --button-width: 25px;
  display: grid;
  place-content: center;
  height: var(--button-height);
  width: var(--button-width);
  border: none;
  z-index: 5;
  background-color: var(--background-color);
  min-width: unset;
  padding: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
}

.score {
  min-width: fit-content;
}

.game-board-container {
  display: grid;
  place-content: center;
  align-items: center;
  position: relative;
  justify-items: center;
}

.game-board-controls {
  max-width: var(--board-height);
  width: 100%;
}

.game-board-container > div {
  max-height: var(--board-height);
}

@media (max-width: 768px) {
  .game {
    transform: translateY(var(--yOffset)) scale(var(--scale));
  }
}

@keyframes slide-down {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
