.button {
  --button-height: 30px;
  --button-width: 30px;
  display: grid;
  place-content: center;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: 50%;
  z-index: 5;
  background-color: var(--background-color);
  border: 2px solid black;
  min-width: unset;
  padding: 0;
  margin: 0.5em;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.dialog {
  animation: fade-in-and-slide-down 300ms ease-in-out forwards;
  place-self: center;
  z-index: 5;
  position: absolute;
  top: 30%;
  max-height: 50vh;
  overflow: scroll;
}

.history {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-height: 80vh;
  border-radius: 10px;
  overflow-y: hidden;
  animation: fade-in 0.5s ease-in;
}

.history-item {
  animation: slide-down 0.5s ease-in;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-and-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-30%);
  }
}
