.App {
  text-align: center;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  font-family: "Work Sans", sans-serif;
  overflow-y: hidden;
}

.App-body {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: min(800px, 100vw);
  justify-content: center;
}
