*,
::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  min-width: 150px;
  border: 1px solid #000;
}

button:hover {
  background-color: #f5f5f5;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  min-width: 200px;
  width: 200px;
}

.App-body {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  max-width: min(800px, 100vw);
  justify-content: center;
}

@media (max-width: 768px) {
  .App-body {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
